---
layout: archive
title: "Media Coverage & Awards"
permalink: /media/
author_profile: true
---

<h3>Media Coverage</h3>
<ul>
{% for item in site.media reversed %}
  <li>
    <strong>{{ item.title }}</strong><br>
    {% if item.links %}
      {% for link in item.links %}<a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.label }}</a>{% unless forloop.last %} &middot; {% endunless %}{% endfor %}
    {% endif %}
  </li>
{% endfor %}
</ul>

<h3>Awards</h3>
<ul>
{% for item in site.awards reversed %}
  <li>{{ item.title }}</li>
{% endfor %}
</ul>